<%= form_with(model: lifting, local: true) do |form| %>
  <% if lifting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lifting.errors.count, "error") %> prohibited this lifting from being saved:</h2>

      <ul>
      <% lifting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%attrib = %i[reps set description name weight]%>
<main class="centered">
  <div class="ui form">
      <%attrib.each do |attribute| %>
        <div class="field">
          <%= form.label attribute %>
          <%= form.text_field attribute %>
        </div>
      <%end%>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
</main>
<% end %>
