<p id="notice"><%= notice %></p>

<%= @standard_post.content %>
<%= @standard_post.username %>

<%= link_to 'Edit', edit_standard_post_path(@standard_post) %> |
<%= link_to 'Back', standard_posts_path %>
